extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  hr
  .container
    .row
      #content.col-md-4
      #teststock.col-md-4
      #helloworld.col-md-4
  script(type="text/babel", src="/javascripts/commentBox.js")
  script(type="text/babel", src="/javascripts/testStock.js")
  script(type="text/babel", src="/javascripts/helloWorld.js")
  
